@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@import './styles/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 p-0 h-full w-full  text-base font-sans text-white;
    /* @apply bg-gradient-radial */
  }
  body {
    @apply antialiased p-8;
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1f3757 0%, #131537 100%);
  }

  h1 {
    @apply text-[2.1rem] font-bold leading-[1.6rem];
  }

  header {
    @apply pt-3 pr-3 pb-3 pl-5 w-full;
    border: 3px solid rgba(255, 255, 255, 0.289199);
    border-radius: 5px;
  }

  main::after {
    @apply absolute bg-triangle;
    content: '';
    width: 50%;
    height: 50%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  label {
    margin: 1rem;
  }
}

@layer components {
  .score {
    background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    border-radius: 4px;
  }

  .score-label {
    @apply uppercase;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 1.5625px;

    color: #2a45c2;
  }

  .score-value {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #565468;
  }

  .circular-button {
    /* @apply flex items-center justify-center border-blue-900 border-[20px] shadow-inner rounded-full bg-white w-[13rem] h-[13rem]; */
    display: flex;
    padding: 0.3em;
    /* font-family: 'Open Sans', sans-serif; */
    /* color: rgba(205, 133, 63, 0.5); */
    /* background-image: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%); */
    /* border: 2rem solid hsla(230, 89%, 62%, 1); */
    border-radius: 50%;
    box-shadow: inset 0 0 0.1em rgba(0, 0, 0, 0.3), 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    transition-property: translate box-shadow;
    @apply relative w-[13rem] h-[12.5rem] items-center justify-center;
  }

  /* .rock-button:hover {
    animation: ripple2 0.6s linear infinite;
    margin: 200px auto;
  } */

  .inner-circular-button {
    /* @apply flex items-center justify-center border-blue-900 border-[20px] shadow-inner rounded-full bg-white w-[13rem] h-[13rem]; */
    display: flex;
    padding: 0.3em;
    /* color: rgba(205, 133, 63, 0.5); */
    background-image: linear-gradient(0deg, #f3f3f3 0%, #dadada 98.34%);
    /* border: 2rem solid hsla(230, 89%, 62%, 1); */
    border-radius: 50%;
    box-shadow: inset 0 0 0.1em rgba(0, 0, 0, 0.3), 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    transition-property: translate box-shadow;
    @apply relative w-[10rem] h-[9.5rem] items-center justify-center;
  }

  .circular-button::after {
    /* border-top: 1px solid #ddd; */
    border-bottom: 5px solid;
    content: '';
    display: block;
    position: absolute;
    /* top: 50%; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    /* content: '';
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%; */
  }

  .inner-circular-button::before {
    background: #fff;
    border-top: 5px solid #babfd4;
    border-radius: 50%;
    box-shadow: inset 0 8px 48px #ddd;
    content: '';
    display: block;
    position: absolute;
    /* left: -18px;
    right: -18px;
    top: -18px;
    bottom: -18px; */
    /* z-index: -1; */
    height: 100%;
    width: 100%;
  }

  .inner-circular-button > svg {
    z-index: 10;
  }

  .rock-button {
    background-color: hsla(349, 71%, 52%, 1);
  }

  .rock-button::after {
    border-color: hsla(347, 75%, 35%, 1);
  }

  .paper-button {
    background-color: hsla(230, 89%, 62%, 1);
  }

  .paper-button::after {
    border-color: #2a45c2;
  }

  .scissors-button {
    background-color: hsla(39, 89%, 49%, 1);
  }

  .scissors-button::after {
    border-color: hsla(28, 77%, 44%, 1);
  }

  .rings {
    position: relative;
    font-size: 72px;
    top: 5px;
    left: -5px;
  }

  .rings::before,
  .rings::after {
    /* @apply peer-hover: */
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 3rem solid hsla(0, 0%, 100%, 0.2);
    border-radius: 100%;
    animation-name: ripple2, ripple2;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
  }

  .rings::after {
    animation-duration: 2s, 2s;
    animation-delay: 0s, 1s;
  }

  .rings::before {
    animation-duration: 2s, 2s;
    animation-delay: 0.5s, 1.5s;
  }

  .rules-btn {
    width: 128px;
    height: 40px;

    /* Inside auto layout */

    @apply flex items-center justify-center;
    order: 2;
    flex-grow: 0;
    border: 1px solid #ffffff;
    border-radius: 8px;
  }

  .rules-btn > span {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.5px;

    color: #ffffff;
    @apply uppercase text-center;
  }
}

@layer utilities {
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(#fff, 0.1), 0 0 0 20px rgba(#fff, 0.1), 0 0 0 40px rgba(#fff, 0.1),
        0 0 0 60px rgba(#fff, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(#fff, 0.1), 0 0 0 40px rgba(#fff, 0.1), 0 0 0 60px rgba(#fff, 0.1),
        0 0 0 80px rgba(#fff, 0);
    }
  }

  @keyframes ripple2 {
    from {
      opacity: 1;
      transform: scale3d(0.75, 0.75, 1);
    }

    to {
      opacity: 0;
      transform: scale3d(1.5, 1.5, 1);
    }
  }
}
